# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Mac
.DS_Store

# Logs
*.log

# Environment variables
.env

# Airflow
airflow_home/

# MLflow
mlruns/
mlruns_artifacts/
mlartifacts/
mlflow.db

# Outputs
artifacts/
outputs/
screenshots/
